<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <!--====== Vendor Css ======-->
    <link rel="stylesheet" th:href="@{/static/customer/css/vendor.css}">
    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" th:href="@{/static/customer/css/utility.css}">
    <!--====== App ======-->
    <link rel="stylesheet" th:href="@{/static/customer/css/app.css}">
    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <!--====== Vendor Css ======-->
    <link ref="stylesheet" th:href="@{/static/customer/css/vendor.css}">
    <!--====== Utility-Spacing ======-->
    <link ref="stylesheet" th:href="@{/static/customer/css/utility.css}">
    <!--====== App ======-->
    <link ref="stylesheet" th:href="@{/static/customer/css/app.css}">
</head>
<body>
    <header>
        <div th:replace="~{customer/fragments/header::header}"></div>
    </header>
    <main>
        <section>
            <div layout:fragment="app-content"></div>
        </section>
    </main>
    <footer>
        <div th:replace="~{customer/fragments/footer::footer}"></div>
    </footer>


    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script th:src="@{/static/customer/js/vendor.js}"></script>
    <!--====== jQuery Shopnav plugin ======-->
    <script th:src="@{/static/customer/js/jquery.shopnav.js}"></script>
    <!--====== App ======-->
    <script th:src="@{/static/customer/js/app.js}"></script>
</body>
</html>