	.header-title {
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		font-family: 'Arial', sans-serif;
		margin-bottom: 20px;
	}

	.add-button {
		padding: 8px 16px;
		background-color: rgb(0, 168, 0);
		color: white;
		text-decoration: none;
		font-size: 16px;
		border-radius: 5px;
		font-weight: bold;
	}

	.add-button:hover {
		background-color: #0056b3;
	}

	.edit-button {
		padding: 8px 16px;
		background-color: rgb(255, 255, 128);
		color: rgb(0, 0, 0);
		text-decoration: none;
		font-size: 16px;
		border-radius: 5px;
		font-weight: bold;
	}

	.edit-button:hover {
		background-color: #0056b3;
	}

	.delete-button {
		padding: 8px 16px;
		background-color: rgb(255, 0, 0);
		color: rgb(0, 0, 0);
		text-decoration: none;
		font-size: 16px;
		border-radius: 5px;
		font-weight: bold;
	}

	.delete-button:hover {
		background-color: #0056b3;
	}

	body {
		font-family: Arial, sans-serif;
		margin: 20px;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 20px;
		background-color: #ffffff;
	}

	th,
	td {
		padding: 12px 15px;
		text-align: left;
	}

	th {
		background-color: #f8f9fa;
		color: #333;
		font-weight: bold;
		border-bottom: 1px solid #e9ecef;
	}

	td {
		border-bottom: 1px solid #e9ecef;
	}

	tr:nth-child(even) td {
		background-color: #f8f9fa;
	}

	.status-active {
		color: white;
		background-color: #28a745;
		padding: 5px 10px;
		border-radius: 5px;
		font-weight: bold;
	}

	.status-inactive {
		color: white;
		background-color: #dc3545;
		padding: 5px 10px;
		border-radius: 5px;
		font-weight: bold;
	}

	.error {
		color: #e74c3c;
		font-size: 20px;
		margin-top: 5px;
		display: block;
	}