.header {
	font-family: 'Roboto Slab', sans-serif;
	background-color: #f8f9fa;
	border-bottom: 1px solid #e0e0e0;
	padding: 15px 0;
	background-image: url(/assets/img/slider/slide-4.jpg);
}

.header__logo img {
	height: 60px;
}

.header__top, .header__search-wrap {
	display: flex;
	justify-content: space-around;
}

.header__search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__search-input {
	border: none;
	padding: 8px;
	width: 100%;
}

.header__search-icon {
	background-color: #007bff;
	color: white;
	padding: 8px;
	cursor: pointer;
}

.header__account {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 15px;
}

.header__account-login, .header__account-register {

	text-decoration: none;
	color: white;
}

.header__nav {
	background-color: #e9ecef;
	padding: 10px 0;
}

.header__nav-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 30;
}

.header__nav-item {
	margin: 0 15px;
	position: relative;
	border-right: 1px solid;
}

.header__nav-link {
	text-decoration: none;
	color: #333;
	font-size: 16px;
	padding: 10px 15px;
	display: block;
	transition: color 0.3s;
}

.header__nav-link:hover {
	color: #007bff;
}

/* Ẩn menu con mặc định */
.sub-nav-wrap {
	display: none; /* Ẩn menu con mặc định */
	position: absolute;
	background-color: white;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	min-width: 200px; /* Đảm bảo menu con đủ rộng */
	padding: 10px 0;
	border-radius: 5px;
	margin-top: 0px;
}

/* Hiển thị menu con khi di chuột vào mục chính */
.header__nav-item:hover .sub-nav-wrap {
	display: block;
}

/* Tạo kiểu cho menu con */
.sub-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sub-nav__item {
	margin: 0;
	padding: 8px 20px;
}

.sub-nav__link {
	color: #333;
	text-decoration: none;
	font-size: 14px;
	display: block;
	transition: background-color 0.3s, color 0.3s;
}

.sub-nav__link:hover {
	background-color: #f0f0f0;
	color: #007bff;
}