<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kho giảm giá</title>
  <link
	href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
	rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
	<!-- Reset css & grid sytem -->
<link rel="stylesheet" href="/assets/css/library.css">
<link href="/assets/owlCarousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<!-- Layout -->
<link rel="stylesheet" href="/assets/css/common.css">
<!-- Font roboto -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
	rel="stylesheet">
<!-- Icon fontanwesome -->
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <style>

    #voucherContainer .card {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;
    }
    #voucherContainer .card:hover {
      transform: scale(1.05);
    }
    #voucherContainer img {
      height: 150px;
      object-fit: cover;
    }

    div#voucherContainer {
        min-height: 493px;
    }

  </style>
</head>
<body>
<header th:replace="~{customer/fragments/header::header}"></header>
		<!-- Slider -->
		<div class="main__slice">
			<div class="slider">
				<div class="slide active"
					style="background-image: url(/assets/img/slider/slide-10.jpg)">
					<div class="container">
						<div class="caption">

							<p></p>
							<a href="listProduct.html" class="btn btn--default">Xem ngay</a>
						</div>
					</div>
				</div>

			</div>
			<!-- controls  -->
			<div class="controls">
				<div class="prev">
					<i class="fas fa-chevron-left"></i>
				</div>
				<div class="next">
					<i class="fas fa-chevron-right"></i>
				</div>
			</div>
			<!-- indicators -->
			<div class="indicator"></div>
		</div>
		
<!-- Danh sách voucher -->
<div id="voucherContainer" class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    <div class="card" th:each="voucher : ${listVoucher}">
         <img class="card-img-top" src="https://cdn.chanhtuoi.com/uploads/2021/09/e-voucher-shopee3-1.jpg.webp" alt="Voucher Image">
         <div class="card-body">
             <h5 class="card-title" >Mã giảm giá</h5>
             <p class="card-text" th:text="'Mã code:  ' + ${voucher.voucherCode}">Giảm giá: ${voucher.voucherValue}%</p>
             <p class="card-text" th:text="'Giá trị voucher:  ' + ${voucher.voucherValue}">Giảm giá: ${voucher.voucherValue}%</p>
             <p class="card-text" th:text="'Ngày bắt đầu:  ' + ${voucher.startDate}">Bắt đầu: ${startDateFormatted} ${startTimeFormatted}</p>
             <p class="card-text" th:text="'Ngày kết thúc:  ' + ${voucher.endDate}">Kết thúc: ${endDateFormatted} ${endTimeFormatted}</p>
         </div>
     </div>
  </div>
</div>

<footer th:replace="~{customer/fragments/footer::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
