.footer {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #2c3e50;
    color: #bdc3c7;
    padding: 40px 0;
    text-align: left;
}

.footer__title {
    color: #ecf0f1;
    font-size: 18px;
    margin-bottom: 20px;
}


.footer .col {
    text-align: center;
    margin-bottom: 20px;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__item {
    margin-bottom: 10px;
}

.footer__link {
    text-decoration: none;
    color: #bdc3c7;
    transition: color 0.3s;
}

.footer__link:hover {
    color: #ecf0f1;
}

/* Điều chỉnh cho các icon trong footer */
.footer__text i {
    margin-right: 8px;
    color: #95a5a6;
}

/* Nhóm icon mạng xã hội căn giữa */
.social-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-item {
    color: #95a5a6;
    font-size: 18px;
    transition: color 0.3s;
}

.social-item:hover {
    color: #ecf0f1;
}

/* Điều chỉnh phần đăng ký nhận email */
.send-email {
    display: flex;
    gap: 10px;
}

.send-email__input {
    padding: 10px;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    width: 250px;
    font-size: 14px;
}

.send-email__link {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.send-email__link:hover {
    background-color: #2c3e50;
}

.row {
	display: flex;
	justify-content: space-around;

}

.footer__text{
	width: 250px;
}